{
  "git_panel": {
    "dock": "left"
  },
  "cli_default_open_behavior": "existing_window",
  "agent": {
    "sidebar_side": "right",
    "default_profile": "ask",
    "default_model": {
      "provider": "copilot_chat",
      "model": "mai-code-1.1-flash",
      "enable_thinking": true,
      "effort": "high"
    },
    "dock": "right",
    "favorite_models": [
      {
        "provider": "copilot_chat",
        "model": "claude-opus-5",
        "enable_thinking": true,
        "effort": "high"
      },
      {
        "provider": "copilot_chat",
        "model": "claude-fable-5",
        "enable_thinking": true,
        "effort": "high"
      },
      {
        "provider": "copilot_chat",
        "model": "claude-sonnet-5",
        "enable_thinking": true,
        "effort": "high"
      },
      {
        "provider": "copilot_chat",
        "model": "gpt-6-astra",
        "enable_thinking": true,
        "effort": "high"
      },
      {
        "provider": "copilot_chat",
        "model": "mai-code-1.1-flash",
        "enable_thinking": true,
        "effort": "high"
      }
    ],
    "model_parameters": []
  },
  "project_panel": {
    "default_width": 300.0,
    "dock": "left"
  },
  "buffer_line_height": "comfortable",
  "buffer_font_weight": 400.0,
  "buffer_font_family": "Inconsolata",
  "ui_font_size": 20.0,
  "buffer_font_size": 20.0,
  "theme": {
    "mode": "system",
    "light": "One Light",
    "dark": "One Dark",
  },
}
