{
  "project_panel": {
    "dock": "left",
    "default_width": 360.0
  },
  "outline_panel": {
    "dock": "left",
    "default_width": 360.0
  },
  "collaboration_panel": {
    "dock": "left",
    "default_width": 360.0
  },
  "git_panel": {
    "dock": "left",
    "default_width": 360.0
  },
  "cli_default_open_behavior": "existing_window",
  "telemetry": {
    "diagnostics": true,
    "metrics": false,
    "anthropic_retention": false
  },
  "agent": {
    "dock": "right",
    "default_width": 500.0,
    "sidebar_side": "right",
    "default_profile": "ask",
    "default_model": {
      "provider": "copilot_chat",
      "model": "mai-code-1.1-flash",
      "enable_thinking": true,
      "effort": "high"
    },
    "favorite_models": [
      {
        "provider": "copilot_chat",
        "model": "claude-opus-5",
        "enable_thinking": true,
        "effort": "high"
      },
      {
        "provider": "copilot_chat",
        "model": "claude-fable-5",
        "enable_thinking": true,
        "effort": "high"
      },
      {
        "provider": "copilot_chat",
        "model": "claude-sonnet-5",
        "enable_thinking": true,
        "effort": "high"
      },
      {
        "provider": "copilot_chat",
        "model": "gpt-6-astra",
        "enable_thinking": true,
        "effort": "high"
      },
      {
        "provider": "copilot_chat",
        "model": "mai-code-1.1-flash",
        "enable_thinking": true,
        "effort": "high"
      }
    ],
    "model_parameters": []
  },
  "buffer_line_height": "comfortable",
  "buffer_font_weight": 400.0,
  "buffer_font_family": "Inconsolata",
  "ui_font_size": 20.0,
  "buffer_font_size": 20.0,
  "theme": {
    "mode": "system",
    "light": "One Light",
    "dark": "One Dark",
  },
  "file_types": {
    "Ansible": [
      "**.ansible.yml",
      "**.ansible.yaml",
      "**/inventories/*.yml",
      "**/inventories/*.yaml",
      "**/defaults/*.yml",
      "**/defaults/*.yaml",
      "**/meta/*.yml",
      "**/meta/*.yaml",
      "**/tasks/*.yml",
      "**/tasks/*.yaml",
      "**/handlers/*.yml",
      "**/handlers/*.yaml",
      "**/group_vars/*.yml",
      "**/group_vars/*.yaml",
      "**/playbooks/*.yml",
      "**/playbooks/*.yaml",
      "**playbook*.yml",
      "**playbook*.yaml",
      "**provision*.yml",
      "**provision*.yaml"
    ],
    "Gotmpl": [
      "**.tmpl"
    ]
  },
}
